<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/estilo.css"> -->
    <!-- <script src="/js/script.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {{participante.nome}}
    {{participante.cpf}}
    {{participante.email}}


      <table class="table">
        <tr>
            <td>Nome</td>
            <td>Data Inicio</td>
            <td>Data Fim</td>
            <td>Local</td>
        </tr>
        {{#participante.vetEvento}}
        <tr>
            <td> {{nome}}</td>
            <td> {{dataInicioFormatada}}</td>
            <td> {{dataFimFormatada}}</td>
            <td> {{local}} </td>
        </tr>
        {{/participante.vetEvento}}
    </table>


</body>
</html>